.popular {
  padding: 6rem 1.875rem;
  background-color: var(--clr-primary);
  background-image: url('/popular-bg.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
}

.popular__title {
  font-size: var(--size-3xl);
  color: var(--clr-white);
  text-align: center;
}

.popular__filter {
  max-width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.popular__filter-btn {
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 46px;
  font-size: var(--size-sm); 
  font-weight: 300;
  color: var(--clr-white);
  transition: background-color .3s, color .3s;
}

.popular__filter-btn img {
  width: var(--size-lg);
  height: var(--size-lg);
  object-fit: contain;
}

.popular__filter-btn.active {
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

.popular__filter-btn:hover:not(.active) {
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

.popular__catalogue {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
}

.popular__btn svg {
  width: var(--size-sm);
  height: var(--size-sm);
  display: block;
}

.popular__card {
  padding: 3rem;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);

  cursor: pointer;
}

.popular__card-img {
  width: 6.875rem;
  height: 5.25rem;
  object-fit: conatin;
}

.popular__card-title {
  font-size: var(--size-base);
  color: var(--clr-white);
  text-align: center;
}

.popular__card-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popular__card-rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.popular__card-rating img {
  width: var(--size-base);
  height: var(--size-base);
  object-fit: contain;
}

.popular__card-rating p {
  font-size: var(--size-sm);
  font-weight: 300;
  color: var(--clr-white);
}

.popular__card-price {
  font-size: var(--size-sm);
  font-weight: 500;
  color: var(--clr-white);
}

.popular__btn {
  font-size: var(--size-sm);
  display: flex;
  gap: 1rem;
  border-radius: 32px;
}

.popular__card.active-card {
  min-width: 300px;
  background-color: var(--clr-white);
}

.popular__card.active-card .popular__card-img {
  width: 13.375rem;
  height: 10rem;
  object-fit: contain;
}

.popular__card.active-card .popular__card-title {
  font-size: var(--size-lg);
  color: var(--clr-black500);
}

.popular__card.active-card .popular__card-rating img {
  width: var(--size-lg);
  height: var(--size-lg);
  object-fit: contain;
}

.popular__card.active-card .popular__card-rating p {
  font-size: var(--size-base);
  font-weight: 300;
  color: var(--clr-grey);
}

.popular__card.active-card .popular__card-price {
  font-size: var(--size-base);
  font-weight: 500;
  color: var(--clr-secondary);
}

/* xs  */
@media (min-width: 475px) {
  
  .popular__title {
    font-size: var(--size-4xl);
  }
  
  .popular__filter {
    gap: 1.5rem;
  }
  
  .popular__filter-btn {
    padding: 0.5rem 1.5rem;
    gap: 0.5rem;
    font-size: var(--size-base); 
  }
  
  .popular__filter-btn img {
    width: var(--size-xl);
    height: var(--size-xl);
  }
  
  .popular__catalogue {
    gap: 2rem;
  }
  
  .popular__card {
    gap: 1.5rem;
    padding: 2rem;
  }
  
  /* Edit */
  .popular__card-img {
    width: 5.875rem;
    height: 4.25rem;
  }
  
  .popular__card-title {
    font-size: var(--size-lg);
  }
  
  .popular__card-rating img {
    width: var(--size-lg);
    height: var(--size-lg);
  }
  
  .popular__card-rating p {
    font-size: var(--size-base);
  }
  
  .popular__card-price {
    font-size: var(--size-base);
  }
  
  .popular__btn {
    font-size: var(--size-base);
  }
  
  /* Edited */
  .popular__card.active-card .popular__card-img {
    width: 11.375rem;
    height: 8rem;
  }
  
  .popular__card.active-card .popular__card-title {
    font-size: var(--size-xl);
  }
  
  .popular__card.active-card .popular__card-rating img {
    width: var(--size-xl);
    height: var(--size-xl);
  }
  
  .popular__card.active-card .popular__card-rating p {
    font-size: var(--size-lg);
  }
  
  .popular__card.active-card .popular__card-price {
    font-size: var(--size-lg);
  }
}

/* sm  */
@media (min-width: 640px) {
  .popular__catalogue{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* md  */
@media (min-width: 768px) {
  .popular__title {
    font-size: var(--size-5xl);
  }
}

@media (min-width: 943px) {
  .popular__catalogue{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* lg  */
@media (min-width: 1024px) {
  .popular {
    gap: 2.7rem;
  }

  .popular__title {
    font-size: var(--size-6xl);
  }
  
  .popular__filter-btn {
    font-size: var(--size-lg); 
  }
  
  .popular__filter-btn img {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }
  
  .popular__card-img {
    width: 6.875rem;
    height: 5.25rem;
  }
  
  .popular__card-title {
    font-size: var(--size-xl);
  }
  
  .popular__card-rating img {
    width: var(--size-xl);
    height: var(--size-xl);
  }
  
  .popular__card-rating p {
    font-size: var(--size-lg);
  }
  
  .popular__card-price {
    font-size: var(--size-lg);
  }
  
  .popular__btn {
    font-size: var(--size-lg);
  }

  .popular__btn svg {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }
  
  .popular__card.active-card {
    min-width: 300px;
  }
  
  /* Edit */
  .popular__card.active-card .popular__card-img {
    width: 13.375rem;
    height: 10rem;
  }
  
  .popular__card.active-card .popular__card-title {
    font-size: var(--size-2xl);
  }
  
  .popular__card.active-card .popular__card-rating img {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }
  
  .popular__card.active-card .popular__card-rating p {
    font-size: var(--size-xl);
  }
  
  .popular__card.active-card .popular__card-price {
    font-size: var(--size-xl);
  }
}

/* xl  */
/* @media (min-width: 1280px) {} */

/* 2xl  */
/* @media (min-width: 1536px) {} */